{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- liquid
      assign options_count = product.options_with_values | size
      assign has_single_option = false
      if options_count == 1
        assign has_single_option = true
      endif
      assign all_variants_have_image = true

      if has_single_option
        for v in product.variants
          if v.featured_image == nil
            assign all_variants_have_image = false
          endif
        endfor
      endif
    -%}

    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif

        assign use_variant_cards = false
        if has_single_option and all_variants_have_image and swatch_count == 0
          assign use_variant_cards = true
        endif
      -%}

      {%- if use_variant_cards -%}
        {%- liquid
          assign product_form_id = 'product-form-' | append: section.id
        -%}
        <fieldset class="product-form__input">
          <legend class="form__label">
            {{ option.name }}
          </legend>

          <div class="bundle-variations">
            <div class="bundle-variations__group">
              <div class="bundle-variations__options">
                {%- for value in option.values -%}
                  {%- liquid
                    assign option_value = value
                    assign matching_variant = nil

                    for variant in product.variants
                      assign option_index = option.position | minus: 1
                      if variant.options[option_index] == option_value
                        assign matching_variant = variant
                        break
                      endif
                    endfor

                    if matching_variant == nil or matching_variant.featured_image == nil
                      continue
                    endif

                    assign is_available = matching_variant.available
                  -%}
                  <label
                    class="bundle-variations__option{% unless is_available %} bundle-variations__option--unavailable{% endunless %}"
                  >
                    <input
                      type="radio"
                      name="options[{{ option.name | escape }}]"
                      value="{{ option_value | escape }}"
                      form="{{ product_form_id }}"
                      class="visually-hidden"
                      data-product-url="{{ value.product_url }}"
                      data-option-value-id="{{ value.id }}"
                      {% if matching_variant == product.selected_or_first_available_variant %}checked{% endif %}
                      {% unless is_available %}disabled{% endunless %}
                    >
                    <div class="bundle-variations__option-media">
                      {{ matching_variant.featured_image
                        | image_url: width: 300
                        | image_tag:
                          loading: 'lazy',
                          class: 'bundle-variations__option-image'
                      }}
                      {%- unless is_available -%}
                        <span class="bundle-variations__badge">
                          {{ 'products.product.inventory_out_of_stock' | t }}
                        </span>
                      {%- endunless -%}
                    </div>
                    <div class="bundle-variations__option-body">
                      <p class="bundle-variations__option-title">
                        {{ matching_variant.title }}
                      </p>
                      <div class="bundle-variations__option-meta">
                        <p class="bundle-variations__option-stock">
                          {%- if is_available -%}
                            {{ 'products.product.inventory_in_stock' | t }}
                          {%- else -%}
                            {{ 'products.product.inventory_out_of_stock' | t }}
                          {%- endif -%}
                        </p>
                        <p class="bundle-variations__option-price">
                          {{ matching_variant.price | money }}
                        </p>
                      </div>
                    </div>
                  </label>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </fieldset>
      {%- elsif picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
